body{
    margin: 0 auto;
    font-family: Roboto;
    background: rgb(229, 229, 229);
    max-width: 1115px;
}
.title{
    color: rgb(45, 55, 72);
    font-size: 40px;
    margin-top: 82px;
    margin-bottom: 5px;
}
.subtitle{
    color: rgb(45, 55, 72);
    margin-bottom: 56px;
}
.smallt{
    font-size: 16px;
    padding-left: 24px;
}
.line{
    border: 1px solid rgb(203, 213, 224);
}
.name{
    font-size: 30px;
    margin-top: 28px;
    margin-left: 24px;
}
.cards{
    display: flex;
    column-gap: 26px;
    align-items: flex-start;
}
.blocks{
    margin-top: 97px;
    box-shadow: 0px 4px 4px 0px rgba(152, 149, 149, 0.25);
    background: rgb(255, 255, 255);
}
.blocks.active{
    margin-top: 56px;
    margin-bottom: 133px;
}
.center{
    text-align: center;
}
.center.price{
    font-size: 50px;
    margin-top: 36px;
    margin-bottom: 36px;
}
.center.smallt{

}
.center.inactive.smallt{
    background: rgb(237, 242, 247);
    color: rgb(45, 55, 72);
    padding-top: 25px;
    padding-bottom: 24px;
    padding-left: 113px;
    padding-right: 112px;
}
.center.active{
    background: rgb(234, 7, 116);
    color: rgb(247, 250, 252);
    padding-top: 25px;
    padding-bottom: 24px;
    padding-left: 113px;
    padding-right: 112px;
}

